<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    {% include "head_css.html" %}
</head>

<body>
  {% include "navbar.html" %}
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  {% block image %}
  <header class="intro-header" style="background-image: url({% static 'img/home-bg.jpg' %})">
  {% endblock %}
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" aling = 'justify'>
                  <div class="site-heading">
                      <h1>{% block header %}{% endblock %}</h1>
                      <hr class="small">
                      <span class="subheading">{% block subhead %}{% endblock %}</span>
                      {% block datep %}

                      {% endblock %}
                  </div>
              </div>
          </div>
      </div>
  </header>
    {% block content %}

    {% endblock %}
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/senjuana">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/josé-ernesto-ruiz-valdivia-035832124/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/senjuana">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Senjuana Blog 2017</p>
                </div>
            </div>
        </div>
    </footer>
    {% include "js_core.html" %}

</body>

</html>
