{% load crispy_forms_tags %}
<hr/>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    {% if titulo %}
      <h1 class="text-aling-center">{{ titulo }}</h1>
    {% endif %}
    <form method="post" action="">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit"  value="Enviar"/>
    </form>
  </div>
</div>
