{% extends "base.html" %}
{% load static %}
{% block title %}
Senjuana's Blog
{% endblock %}
{% block header %}
Blog
{% endblock %}
{% block subhead %}
Linux is cool until you compile it.
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      {% for post in object_list  %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="{% url 'post:display' slug=post.slug %}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Senjuana</a> on {{post.created}}</p>
            </div>
            <hr>
          </div>
      {% endfor %}

      </div>

      {% if is_paginated %}
            <ul class="pager">
              <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Prev</a></li>
              <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a></li>
            </ul>
    {% endif %}
    </div>
</div>
{% endblock %}
