{% extends "base.html" %}
{% load static %}
{% load django_markdown %}

{% block title %}
Post
{% endblock %}

{% block header %}
  {{post.title}}
{% endblock %}

{% block subhead %}
  {{post.subtitle}}
{% endblock %}

{% block image %}
  <header class="intro-header" style="background-image: url({{post.image.url}})">
{% endblock %}

{% block datep %}
  <br>
  <span class="meta">Posted by <a href="#">Senjuana</a> on {{post.created}}</span>
{% endblock %}

{% block content %}
  <article>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{post.content|markdown}}
                <br>
                <p class="meta">
                  Tags {{  post.tags.all|join:", " }}
                </p>

              </div>
            </div>
        </div>

  </article>

{% endblock %}
